<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Calculator Automation">
  <test thread-count="5" name="Basic Calculation Test">
    <classes>
      <class name="com.qapitol.webautomation.tests.LoginTest"/>
    </classes>
  </test>
</suite>
